@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/os/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/os/opensans-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'centumabold';
    src: url('../fonts/cb/centuma-bold-webfont.woff2') format('woff2'),
         url('../fonts/cd/centuma-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanslight_italic';
    src: url('../fonts/osli/opensans-lightitalic-webfont.woff2') format('woff2'),
         url('../fonts/osli/opensans-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family:sans-serif;
}

header{
    background-color:#0d303e;
}

.containerfluid{
    width: 1140px;
    margin:0 auto;
    /*border: 1px solid white;*/
    
}

.floatleft{
    float: left;
}

.floatright{
    float: right;
    text-align: right;
    /*border: 1px solid yellow;*/
}

.logo{
   vertical-align: middle;
}

.socialicons{
   margin-bottom: 25px;
}

.socialicons a{
    text-decoration: none;
    color:#2b4a58;
    margin-left: 10px;
    font-size: 25px;
}

nav a{
    text-decoration: none;
    color: #ffffff;
    font-size:16px;
    padding-right:40px;
    font-family: 'open_sansregular';
}
nav a:last-child{
    padding-right:0px;
}

nav a:hover{
    text-decoration: none;
    color: #0cc4ca;
}

.content_left{
    float: left;
    width: 65%;
    padding-top: 60px;
    /*border: 1px solid red;*/
}

.content_left p{
    font-family:'open_sansregular';
    font-size: 16px;
    line-height: 28px;
    color:#404b56;
   
}

.content_left .blk_one h1{
    font-family: 'centumabold';
    color: #404b56;
    font-size: 32px;
    line-height: 46px;
}

.content_left .blk_one span{
    color:#a5b9c2;
    font-size: 14px;
    padding-top: 20px;
}

.content_left .blk_one label{
    color:#a5b9c2;
    font-family:'open_sansregular';
    font-size: 14px;
    padding-top: 20px;
}

.content_left .blk_one .plugin{
    padding:20px 0;
}

.content_left .blk_one p{
    font-family:'open_sansregular';
    font-size: 16px;
    line-height: 28px;
    color:#404b56;
   
}

.content_left .blk_one img{
  max-width: 100%;
  height: auto;
}

.content_left .blk_one .info{
     padding: 50px 0;
}

.content_left .blk_one p a{
    color:#0ea8b3;
    text-decoration: none;
    
}

.content_left .blk_one p a:hover{
    color:#0ea8b3;
    text-decoration: underline;
    
}

.content_left .blk_two h2{
    font-family: 'centumabold';
    color: #404b56;
    font-size:26px;
    line-height: 40px;
    padding-bottom: 35px;
}

.content_left .blk_two .blk_two_content{
    border: 2px solid #e9eef1;
    text-align: center;
    padding: 40px 0;
    
}

.content_left .blk_two .blk_two_content img{
    padding-bottom: 40px;
    
}

.content_left .blk_two .blk_two_content p{
    width: 550px;
    margin: 0 auto;
    font-family: 'open_sanslight_italic';
    font-size:20px;
    line-height: 36px;
    color: #404b56;
    font-weight: 300;
}

.hr{
    position: relative;
    padding: 40px 0 30px 0;
}

.hr::after{
    content: "";
    width: 80px;
    height: 2px;
    background-color: #cad6dc;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    
}

.content_left .blk_two .blk_two_content span{
    font-size: 16px;
    line-height: 36px;
    color: #404b56;
    font-family: 'open_sansregular';
    text-align: center;
}

.content_left .blk_three h3{
    font-size: 24px;
    line-height: 38px;
    color: #404b56;
    font-family: "centumabold";
    padding: 55px 0 35px 0;
}

.content_left .blk_three .blk_three_content{
    font-size: 16px;
line-height: 28px;
color: #404b56;
font-weight: 400;
font-family: "Open Sans";
}

.content_left .blk_four h5{
    font-size: 20px;
    line-height: 30px;
    color: #404b56;
    font-family: "centumabold";
    padding: 50px 0 35px 0;
}

.content_left .blk_four .blk_four_content_left{
    float: left;
    width: 50%;
    display: block;
}

.content_left .blk_four .blk_four_content_right{
    float: right;
    width: 50%;
    display: block;
}

.content_left .blk_four .blk_four_content_list{
    padding-left: 25px;
}

.content_left .blk_four .blk_four_content_left_ul{
    float: left;
    width: 50%;
    display: block;
}

.content_left .blk_four .blk_four_content_right_ol{
    float: right;
    width: 50%;
    display: block;
}

.content_left .blk_four .blk_four_content_left_ul h6{
    font-size: 18px;
    line-height: 26px;
    color: #404b56;
    font-family: "centumabold";
    padding: 45px 0 35px 0;
}

.content_left .blk_four .blk_four_content_left_ul ul li{
    font-size: 16px;
    line-height: 36px;
    color: #404b56;
    font-family: 'open_sansregular';
}

.content_left .blk_four .blk_four_content_right_ol h6{
    font-size: 18px;
    line-height: 26px;
    color: #404b56;
    font-family: "centumabold";
    padding: 45px 0 35px 0;
}

.content_left .blk_four .blk_four_content_right_ol ol li{
    font-size: 16px;
    line-height: 36px;
    color: #404b56;
    font-family: 'open_sansregular';
}

.content_left .blk_four .blk_four_content_right img{
    width: 100%;
    height: auto;
    
}

.content_left . blk_five{
    border: 1px solid red;
    
}

.content_left .blk_five h4{
    font-size: 22px;
    line-height: 36px;
    color: #404b56;
    font-family: "centumabold";
    padding: 45px 0 35px 0;
}

.blk_five_content_sections{
    padding-top:20px;
}

.blk_five_content_left{
    float: left;
    width: 48%;
}

.blk_five_content_right{
    float: right;
    width: 48%;
    padding-right: 30px;
}

.blk_five main{
    position: relative;
}

.blk_five  main img{
    max-width: 100%
}

.image_overlay{
    /*background-image: url(../images/img5.png);*/
    background-color: rgba(124,199,201,0.3);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.blk_five main:hover .image_overlay{
    opacity: 1;
}

.image_overlay_content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.blk_five_content_p{
    padding-top:20px;
}

.blk_six h6{
    font-size: 18px;
    line-height: 26px;
    color: #404b56;
    font-family:"centumabold";
    padding:45px 0 35px 0;
}
.blk_six .blk_six_content_left{
    float: left;
    width: 32%;
    padding-right: 20px;
}

.blk_six_content_left img{
    max-width: 100%;
}

.blk_six_content_left p{
    font-size: 16px;
    line-height: 28px;
    color: #0ea8b3;
    font-family: "open_sansregular";
    padding-top: 20px;
}

.blk_six_content_left span{
    font-size: 14px;
    line-height: 24px;
    color: #95adb8;
    font-family: "open_sansregular";
    
}

.blk_six_content_left span, i{
padding-top: 10px;
}


/* RIGHT_BLOCK */

.content_right{
    float: right;
    width: 35%;
    padding:20px;
    padding-top: 60px;
}

.content_right .blk_one_right h6{
    font-size: 18px;
    line-height: 18px;
    color: #404b56;
    font-family:"centumabold";
    padding-bottom: 30px;
}

.content_right .blk_one_right ul li{
    list-style-type:none;
}

.content_right .blk_one_right ul a{
    text-decoration: none;
    font-size: 16px;
    line-height: 38px;
    color: #0ea8b3;
    font-family:'open_sansregular'
    
}

.content_right .blk_two_right h6{
    font-size: 18px;
    line-height: 18px;
    color: #404b56;
    font-family:"centumabold";
    padding: 45px 0 35px 0;
}

.blk_two_right_content_1{
    position: relative;
}

.blk_two_right_content_1 img, .blk_two_right_content_2 img{
    width: 100%;
}

.blk_two_right_content_1  .image_overlay_right{
    background-color: rgba(124,199,201,0.3);
    width: 95%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
}

.blk_two_right_content_1 p a:hover .blk_two_right_content_1 img{
    background-color: #0cc4ca;
}

.blk_two_right_content_1 p a, .blk_two_right_content_2 p a{
    text-decoration: none;
    font-size: 16px;
    line-height: 28px;
    color: #0ea8b3;
    font-family:'open_sansregular'
}

.blk_two_right_content_1 span, .blk_two_right_content_2 span{
    color:#a5b9c2;
    font-size: 14px;
    padding: 15px 0 30px 0;
}

.blk_two_right_content_1 label, .blk_two_right_content_2 label{
    color:#a5b9c2;
    font-family:'open_sansregular';
    font-size: 14px;
    padding: 15px 0 30px 0;
}

.blk_two_right_content_2 h6, .blk_two_right_content_3 h6, .blk_two_right_content_4 h6{
    font-size: 18px;
    line-height: 18px;
    color: #404b56;
    font-family:"centumabold";
}

.blk_two_right_content_2 p{
    font-size: 14px;
    line-height: 24px;
    color: #7f878e;
}

.blk_two_right_content_3 img{
    width: 100%;
    height: auto;
}

.blk_two_right_content_4 span{
    color: #000;
    background-color: #e9eef1;
	padding: 10px 15px;
	border-radius: 5px;
    margin-bottom: 10px;
	display: inline-block;
	font-family: 'open_sansregular';
	font-size: 12px;
}

.blk_two_right_content_4 span:hover{
    background-color: #95adb8;
    color: #fff;
    cursor: pointer;
}

.footer_before{
	background-color: #e9eef1;
	padding: 60px 0;
}
.footer_before_content a img{
	padding-bottom: 50px;
}
.footer_before .footer_before_content{
	width: 33%;
	float: left;
}
.footer_before_content h4{
	font-family: 'centumabold';
	font-size: 20px;
	line-height: 40px;
	color: #404b56;
	padding-bottom: 30px;
}
.footer_before_content p{
	font-size: 14px;
	line-height: 26px;
	color: #404b56;
	font-family: 'open_sansregular';
}
.footer_before_content p a{
	color: #0ea8b3;
	text-decoration: none;
}
.footer_before_content .inputs input{
	display: block;
	width: 300px;
	height: 40px;
	border-radius: 5px;
	margin-bottom: 20px;
	padding: 15px;
}
.footer_before_content .inputs input::placeholder{
	font-size: 16px;
	line-height: 26px;
	color: #7f878e;
	font-family: 'open_sansregular';
	
}
.footer_before_content .inputs input{
	border: none;
}
.footer_before_content .inputs input:focus{
	/*padding: 15px;	*/
	/*border: 3px solid transparent;*/
	outline: 2px solid #0cc4ca;
	/*border: 2px solid #0cc4ca;*/
    outline-offset: 0px;	
	outline: -webkit-focus-ring-color auto 1px;
	border-radius: 3px;
}
.footer_before_content .btn {
	text-align: right;
	margin-right: 5rem;
}
.footer_before_content .btn button{
	background-color: #0cc4ca;
	padding: 10px 25px;
	border-radius: 3px;
	color: #fff;
	/*font-family: 'OpenSanss';*/
    font-family: 'open_sansregular';
    border: none;
}
.footer_before_content .social_icons{
	text-align: left;
	color: #95adb8;
}

.footer_before_content .social_icons i{
	color: #95adb8;	
}

.footer_before_content .social_icons .fa-twitter-square:hover{
	color: #00acee;
	/*transition: 0.5s linear;*/
	cursor: pointer;
}

.footer_before_content .social_icons .fa-facebook-square:hover{
	color: #3b5998;
	transition: 0.5s linear;
	cursor: pointer;
}


.footer_before_content .social_icons .fa-linkedin-square:hover{
	color: #238cc8;
	transition: 0.5s linear;
	cursor: pointer;
}


.footer_before_content .social_icons .fa-tumblr-square:hover{
	color: #34526f;
	transition: 0.5s linear;
	cursor: pointer;
}

.footer_before_content .social_icons .fa-github-square:hover{
	color: #4078c0;
	transition: 0.5s linear;
	cursor: pointer;	
}

footer{
    background-color:#0d303e;
    height: 95px;
}

footer .containerfluid .floatleft{
    float: left;
    width: 35%;
}

footer .containerfluid .floatright{
    float: right;
    width: 65%;
}

footer .containerfluid .floatleft a{
    color: #fff;
    font-size: 16px;
    line-height: 28px;
    font-family: 'open_sansregular';
    text-decoration: none;
    padding-right: 15px;
}

footer .containerfluid .floatright p{
    font-size: 16px;
    line-height: 28px;
    color: #404b56;
    font-family: 'open_sansregular';
    text-align: left;
}

.fix::after{
    content: " ";
    display: block;
    clear: both;
}